@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--surface: hsl(228 16% 6%);
		--text: hsl(208, 35%, 93%);
		--primary: hsl(216, 84%, 52%);
		--stroke: hsl(221 16% 20%);

		--radius: 0.5rem;
	}
}

::selection {
	background-color: hsl(208 100% 66% / 0.4);
}

:focus-visible {
	outline: 2px solid hsl(216, 84%, 52%);
	border-radius: 2px;
	outline-offset: 1px;
}

* {
	scrollbar-width: thin;
}

@layer base {
	* {
		@apply border-stroke;
	}

	body {
		@apply bg-surface text-text;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.bg-grid {
		background-size: 100px 100px;
		background-image: url(/assets/grid.png);
		background-position-y: -9px;
		-webkit-mask-image: linear-gradient(
			to bottom,
			transparent,
			5%,
			hsl(0 0% 100%),
			90%,
			transparent
		);
		mask-image: linear-gradient(to bottom, transparent, 5%, hsl(0 0% 100%), 90%, transparent);
	}
}
