@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--surface: hsl(228 16% 6%);
	--text: hsl(0 0% 100%);
	--primary: hsl(207 90% 77%);
	--stroke: hsl(221 16% 20%);
}

::selection {
	background-color: hsl(208 100% 66% / 0.4);
}

:focus-visible {
	outline: 2px solid hsl(208 100% 66%);
	border-radius: 2px;
}

* {
	scrollbar-width: thin;
}

body {
	background-color: var(--surface);
	color: var(--text);
	color-scheme: dark;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.bg-grid {
		background-size: 100px 100px;
		background-image: url(/assets/grid.png);
		background-position-y: -9px;
		-webkit-mask-image: linear-gradient(
			to bottom,
			transparent,
			5%,
			hsl(0 0% 100%),
			90%,
			transparent
		);
		mask-image: linear-gradient(to bottom, transparent, 5%, hsl(0 0% 100%), 90%, transparent);
	}
}
